$bg-color: #F7F7F7;
$black-color: #263238;
$bg-color7: #F7F7F7;
$redColor: #249126;
$grayColor: #8E9497;
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
$font-family:sans-serif;
$yellow:rgb(254,225,51);
$gray:#676767;
$gray_06:rgba(120,120,120,0.5);
$bg-color:rgba(0,0,0,0.5);
$bg-color1:rgba(0,0,0,0.4);
$bg-color2:rgba(0,0,0,0.7);
$sp-red:rgb(255,117,80);
$star:rgb(255,161,39);
$two5:rgb(203,203,203);
$one148:rgb(207,207,207);
$font: Helvetica, sans-serif;
$two22:rgb(22,22,22);
$ave:'Caveat Brush', Arial, Helvetica, sans-serif;
$c169:rgb(169,169,169);
$c242:rgb(242,242,242);
$c250:rgb(250,250,250);
$blueColor: #34B2FF;
$blueOverlay: rgba(0, 0, 250, 0.4);
$textColor: #9CA3AC;
$redColor: #CD241D;
$mainTitle: "Adelle_Bold", sans-serif